@import "../../styles/main.scss";

.header {
  grid-column: 2 / -2;
}

.heading {
  display: flex;
  justify-content: center;
  @include breakpoint-xs {
    display: none;
  }
}

.main {
  grid-column: 2 / -2;
  margin: 0 0 $spacing-32;
}

.content {
  column-count: 1;
  gap: 16px;

  @include breakpoint-xs {
    column-count: 2;
  }

  @include breakpoint-s {
    column-count: 3;
  }
}

.content__brick {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  counter-increment: brick-counter;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }
}
