@import "../../styles/main";

.container {
  grid-column: 2 / -2;
  margin-bottom: $spacing-32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__icons {
  display: flex;
}
