@import "../../styles/main";

.container {
  grid-column: 2 / -2;
  padding: 0 0 $spacing-32;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__icons {
  display: flex;
  cursor: pointer;
}

.container__icons__link {
  color: $color-base-dark;
  &:hover {
    color: $color-primary-dark;
  }
  &:active {
    color: $color-secondary-main;
  }
}
