@import "../../styles/main.scss";

.main {
  grid-column: 2 / -2;
  margin: 0 0 $spacing-32;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include breakpoint-xs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content__book {
  background-color: $color-primary-light;
  padding: $spacing-32 $spacing-24;
  font-size: 0;
}
