@import "../../styles/main.scss";

.main {
  grid-column: 2 / -2;
  margin-bottom: $spacing-48;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content__book {
  margin-bottom: $spacing-16;
  background-color: $color-primary-light;
  padding: $spacing-32 $spacing-24;
  width: fit-content;
  &:not(last-child) {
    margin-right: $spacing-16;
  }
}
