@import "../../../styles/main.scss";

.base {
  font-family: $font-family-secondary;
  line-height: 1.5;
}

.medium {
  font-size: 1rem;
}

.large {
  font-size: 1.25rem;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}
