@import "../../../styles/main.scss";

.content__book {
  background-color: $color-primary-light;
  padding: $spacing-16;
  font-size: 0;
  width: fit-content;
  img {
    padding-bottom: $spacing-16;
    background-color: $color-primary-light;
    width: 256px;
    height: 320px;
  }
}

.content__bookStatus {
  background-color: $color-base-light;
  padding: $spacing-8 $spacing-16;
  text-align: center;
}
