@import "../../styles/main";

.common {
  margin: 0 0 $spacing-8 0;
  border-bottom: $spacing-8 solid $color-base-light;
  text-decoration: none;
  padding-bottom: $spacing-8;
  font-family: $font-family-primary;
  font-size: 1rem;
  line-height: 1.5;
  color: $color-base-dark;

  &:hover {
    border-bottom: $spacing-8 solid $color-secondary-main;
  }

  &--active {
    border-bottom: $spacing-8 solid $color-secondary-dark;
  }
}
