// Colors
// Primary
$color-primary-main: #bebebe;
$color-primary-light: #f1f1f1;
$color-primary-dark: #545454;

// Secondary
$color-secondary-main: #aceaed;
$color-secondary-light: #e4fcfc;
$color-secondary-dark: #a5ccce;

// Base
$color-base-light: #ffffff;
$color-base-dark: #000000;
