// Layout > Breakpoints
// Extra-small (phone)
@mixin breakpoint-extra-small {
    @media (min-width: 0) {
        @content;
    }
}

// Small (tablet)
@mixin breakpoint-small {
  @media (min-width: 600px) {
      @content;
  }
}

// Small-medium (tablet)
@mixin breakpoint-small-medium {
  @media (min-width: 905px) {
      @content;
  }
}

// Medium (laptop)
@mixin breakpoint-medium {
  @media (min-width: 1240px) {
    @content;
  }
}

// Large (desktop)
@mixin breakpoint-large {
  @media (min-width: 1440px) {
    @content;
  }
}

// Layout > Grids
// Extra small (phone)
@mixin grid-extra-small {
    display: grid;
    grid-template-columns: 16px repeat(4, 1fr) 16px;
    column-gap: 16px;
}

// Small (tablet)
@mixin grid-small {
    display: grid;
    grid-template-columns: 32px repeat(8, 1fr) 32px;
    column-gap: 16px;
}

// Small-medium (tablet)
@mixin grid-small-medium {
  display: grid;
  grid-template-columns: 1fr repeat(12, 56px) 1fr;
  column-gap: 16px;
}

// Medium (laptop)
@mixin grid-medium {
  display: grid;
  grid-template-columns: 1fr repeat(12, 64px) 1fr;
  column-gap: 16px;
}

// Large (desktop)
@mixin grid-large {
  display: grid;
  grid-template-columns: 1fr repeat(12, 72px) 1fr;
  column-gap: 16px;
}
