//font families
$font-family-primary: 'Gloria Hallelujah', cursive;
$font-family-secondary: 'Roboto', sans-serif;

//colors
$color-base-light: #ffffff;
$color-base-dark: #000000;
$color-primary-main: #bebebe;
$color-primary-light: #f1f1f1;
$color-primary-dark: #8e8e8e;
$color-secondary-main: #dbfdff;
$color-secondary-light: #f7ffff;
$color-secondary-dark: #91c9cc;
