@import "../../styles/main";

.logo {
  height: 48px;
  margin-bottom: $spacing-xxs;

  @include breakpoint-xs {
    height: 56px;
    margin-bottom: $spacing-xs;
  }

  @include breakpoint-s {
    height: 64px;
    margin-bottom: $spacing-s;
  }

  @include breakpoint-m {
    height: 72px;
    margin-bottom: $spacing-m;
  }

  @include breakpoint-l {
    height: 80px;
    margin-bottom: $spacing-l;
  }
}
