@import "../../styles/main";

.logo {
  height: 48px;
  margin-bottom: 8px;

  @include small {
    height: 60px;
    margin-bottom: 10px;
  }

  @include medium {
    height: 72px;
    margin-bottom: 12px;
  }

  @include large {
    height: 84px;
    margin-bottom: 14px;
  }
}
