@import "../../styles/main.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__playPause {
  cursor: pointer;
}

.container__dots {
  display: flex;
  cursor: pointer;
  svg {
    &:hover {
      fill: $color-secondary-main;
    }
    &:active {
      fill: $color-secondary-dark;
    }
  }
}
