@import "../../styles/main";

.icon {
    &__container:not(:last-child) {
        margin-right: 16px;

        @include breakpoint-xs {
            margin-right: 20px;
        }

        @include breakpoint-s {
            margin-right: 24px;
        }

        @include breakpoint-m {
            margin-right: 28px;
        }
    }

    &__image {
        height: 20px;

        @include breakpoint-xs {
            height: 24px;
        }

        @include breakpoint-s {
            height: 24px;
        }

        @include breakpoint-m {
            height: 28px;
        }
    }
}
