.common {
  font-size: 0;
}

.margin__right:not(:last-child) {
  margin-right: 16px;
}

.small > svg {
  width: 16px;
  height: 16px;
}

.medium > svg {
  width: 24px;
  height: 24px;
}

.large > svg {
  width: 32px;
  height: 32px;
}
