@import "../../../styles/main";

.nav__horizontal-menu {
    display: flex;
    flex-direction: row;

    &__item {
        display: none;
        padding-bottom: 8px;
        border-bottom: 4px solid $color-base-light;
        text-decoration: none;
        font-family: $font-family-primary;
        font-size: 1rem;
        line-height: 1.5;
        color: $color-base-dark;

        @include breakpoint-xs {
            display: block;
            font-size: 1.25rem;
        }

        @include breakpoint-s {
            display: block;
            font-size: 1.5rem;
        }

        @include breakpoint-m {
            display: block;
            font-size: 1.75rem;
        }

        &:not(:last-child) {
            @include breakpoint-xs {
                margin: 0 32px 0 0;
            }

            @include breakpoint-s {
                margin: 0 48px 0 0;
            }

            @include breakpoint-m {
                margin: 0 64px 0 0;
            }
        }

        &:hover {
            border-bottom: 4px solid $color-secondary-main;
        }

        &--active {
            border-bottom: 4px solid $color-secondary-dark;
        }
    }
}
