@import "../../../styles/main";

.nav__logo {
  height: 48px;
  margin-bottom: 16px;

  @include small {
    height: 60px;
    margin-bottom: 20px;
  }

  @include medium {
    height: 72px;
    margin-bottom: 24px;
  }

  @include large {
    height: 84px;
    margin-bottom: 28px;
  }
}
