@import "../../../styles/main";

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 16px;

    @include small {
        padding: 0 32px 32px;
    }

    @include medium {
        padding: 0 48px 48px;
    }

    @include large {
        padding: 0 64px 64px;
    }

    &__text {
        max-width: 800px;
        margin-bottom: 16px;
    }
}
