@import "../../styles/main";

.divider {
    grid-column: 2 / -2;
    border: 1px solid $color-primary-light;
    margin: 0 16px 16px;

    @include breakpoint-xs {
        margin: 0 20px 20px;
    }

    @include breakpoint-m {
        margin: 0 24px 24px;
    }

    @include breakpoint-l {
        margin: 0 28px 28px;
    }
}
