@import "../../../styles/main.scss";

.main {
  grid-column: 2 / -2;
  margin: 0 0 $spacing-48;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include breakpoint-xs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.content__book {
  background-color: $color-primary-light;
  padding: $spacing-16;
  font-size: 0;
  img {
    padding-bottom: $spacing-16;
    background-color: $color-primary-light;
    width: 256px;
    height: 320px;
    object-fit: contain;
  }
}

.content__bookStatus {
  background-color: $color-base-light;
  padding: $spacing-8 $spacing-16;
  text-align: center;
}
