@import "../../../styles/main";

.divider {
    border: 1px solid $color-primary-light;
    margin-bottom: 16px;

    @include small {
        margin-bottom: 20px;
    }

    @include medium {
        margin-bottom: 24px;
    }

    @include large {
        margin-bottom: 28px;
    }
}
