@import "../../styles/main";

.nav {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-16 0;

  @include breakpoint-xs {
    padding: $spacing-16 0;
  }

  @include breakpoint-s {
    padding: $spacing-16 0;
  }

  @include breakpoint-m {
    padding: $spacing-16 0;
  }

  @include breakpoint-l {
    padding: $spacing-16 0;
  }

  &__dropdown {
    @include breakpoint-xs {
      display: none;
    }
  }
}
