@import "../../styles/main.scss";

.header {
  grid-column: 1 / -1;
  margin-bottom: $spacing-48;
  @include breakpoint-s {
    grid-column: 4 / -4;
  }
}

.heading {
  display: flex;
  justify-content: center;
  @include breakpoint-xs {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 $spacing-16;
  img {
    margin-bottom: $spacing-24;
  }

  @include breakpoint-xs {
    flex-direction: row;
    img {
      margin-right: $spacing-16;
      margin-bottom: $spacing-0;
    }
  }
}

.content__text {
  text-align: center;
}
