@import "../../styles/main.scss";

.header {
  grid-column: 2 / -2;
  margin-bottom: 48px;
  @include breakpoint-s {
    grid-column: 4 / -4;
  }
}

.heading {
  display: flex;
  justify-content: center;
  @include breakpoint-xs {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-bottom: 24px;
  }

  @include breakpoint-xs {
    flex-direction: row;
    img {
      margin-right: $spacing-16;
      margin-bottom: $spacing-0;
    }
  }
}

.content__text {
  text-align: center;
}
