@import "./styles/main.scss";

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  > div {
    @include breakpoint-xxs {
      @include grid-xxs;
    }
    @include breakpoint-xs {
      @include grid-xs;
    }
    @include breakpoint-s {
      @include grid-s;
    }
    @include breakpoint-m {
      @include grid-m;
    }
    @include breakpoint-l {
      @include grid-l;
    }
  }
}
