@import "../../styles/main.scss";

.image {
    &__container {
        margin-bottom: 8px;

        @include breakpoint-small {
            margin-bottom: 12px;
        }

        @include breakpoint-medium {
            margin-bottom: 16px;
        }

        @include breakpoint-large {
            margin-bottom: 20px;
        }
    }

    &__hero {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
}
