@import "../../styles/main.scss";

.books__hero {
  width: 288px;
  height: 360px;
  object-fit: cover;
}

.books__other {
  background-color: $color-base-light;
  width: 240px;
  height: 296px;
  object-fit: contain;
}
