@import "../../styles/main";

.nav {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 24px;

    @include breakpoint-small {
        padding: 24px 0 32px;
    }

    @include breakpoint-medium {
        padding: 32px 0 48px;
    }

    @include breakpoint-large {
        padding: 40px 0 60px;
    }

    &__dropdown {
        grid-column: 2 / -2;
        @include breakpoint-small {
            display: none;
        }

        @include breakpoint-medium {
            display: none;
        }

        @include breakpoint-large {
            display: none;
        }
    }
}
