@import "../../styles/main";

.nav {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-s 0;

    @include breakpoint-xs {
        padding: $spacing-m 0;
    }

    @include breakpoint-s {
        padding: $spacing-l 0;
    }

    @include breakpoint-m {
        padding: $spacing-xl 0;
    }

    @include breakpoint-l {
        padding: $spacing-xxl 0;
    }

    &__dropdown {
        @include breakpoint-xs {
            display: none;
        }
    }
}
